<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="styleSheet" href="/css/admin/new.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Edit</title>
</head>

<body>
    <%- include('../layout/header')-%>
    <section class="section-form">
        <div class="title-form">Edit post</div>

        <% if(data && data.error) {%>
            <div class="alert">
                <strong><%= data.error%></strong>
            </div>
        <%}%>
            
            <form class="form-add">
                <input type="hidden" value="<% if(data&&data.post) {%> <%= data.post.id%><%}%>" class="input" id="id">
                <label>Title</label>
                <input type="text" class="input" id="title" name="title" placeholder="title" value="<% if(data&&data.post) {%> <%= data.post.title%><%}%>">
                <label>Content</label>
                <textarea class="input input-area" id="content" name="content" placeholder="content">
                  <% if(data&&data.post) {%> <%= data.post.content%><%}%>
                </textarea>
                <label>Author</label>
                <input type="text" class="input" id="author" name="author" value="<% if(data&&data.post) {%> <%= data.post.author%><%}%>">
                <input type="button" value="Edit" class="button btn-add" id="put_edit">
            </form>   
    </section>
    <script src="/js/post/edit.js" type="text/javascript"></script>
</body>

</html>